
    

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Professor Review</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/fiveStarProfessors">5 Star Professors</a></li>
      <li><a href="/oneStarProfessors">1 Star Professors</a></li>

      <li><a href="/recentReviews">Recently Added Reviews</a></li>
      <li><a href="/bestProfessorBYGPA">Best Professor above 3.7</a></li>

      <li><a href="/sortProfessorByGPA">Under 2.0 Professor</a></li>

    </ul>
    {{!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul> --}}
  </div>
</nav>
<hr>
  
    